@inject UserManager<AppUser> UserManager

@{ 
    AppUser UserInfo = null;
    if (User.Identity.Name != null)
    {
        UserInfo = await UserManager.FindByNameAsync(User.Identity.Name);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="~/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>Sports Store</title>
</head>
<body>
    <div class="navbar bg-dark justify-content-between" role="navigation">
        <a class="navbar-brand text-white" href="#">SPORTS STORE</a>
        <div class="text-right">
            <div class="">
                @{
                    if (!User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-sm btn-primary" asp-action="Login" asp-controller="Account">
                            Log In
                        </a>
                    }
                    else
                    {
                        <small class="text-white">@UserInfo.UserName @UserInfo.Money.ToString("c")</small>
                        <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">
                            Log Out
                        </a>
                    }
                }
            </div>
            <div class="">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="cateories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
